.login {
    height: 100vh;
    background-color: rgb(242, 244, 246);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login__logo {
    margin-top: 20px;
    margin-bottom: 20px;
    object-fit: contain;
    width: 100px;
    margin-right: auto;
    margin-left: auto;
}
  
.login__container {
    width: 300px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: 3px solid rgb(12, 12, 12);
    padding: 20px;
}
 
.login__container > h1 {
    font-weight: 500;
    margin-bottom: 20px;
}
  
.login__container > form > h5 {
    margin-bottom: 10px;
}
  
.login__container > form > input {
    height: 30px;
    margin-bottom: 10px;
    background-color: white;
    width: 98%;
}
  
.login__container > p {
    margin-top: 15px;
    font-size: 12px;
}
  
.login__signInButton {
    background: #f33741;
    border: 1px solid;
    border-radius: 12px;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
    width: 100%;
    height: 30px;
}
.sign{
    font-size: 18px;
    color: white;
}
.email{
    border-radius: 15px;
}
  
.login__registerButton {
    border: 1px solid;
    border-radius: 2px;
    margin-top: 10px;
    width: 100%;
    height: 30px;
    border-color: darkgray;
}

.fb{
    background-color: rgb(51, 96, 209);
    padding: 10px 10px 10px 10px;
    border-radius: 15px;
    color:white;
    text-decoration: none;
}
.facebook{
    padding: 10px 10px 10px 10px;
    text-decoration: none;
    color: white;
}
.tweet{
    background-color: rgb(67, 200, 241);
    padding: 10px 10px 10px 10px;
    border-radius: 15px;
    color:white;
    text-decoration: none;
}
.twitter{
    padding: 10px 10px 10px 10px;
    text-decoration: none;
    color: white;
}
.goog{
    background-color: rgb(239, 75, 75);
    padding: 10px 10px 10px 10px;
    border-radius: 15px;
    color:white;
    text-decoration: none;
}
.google{
    padding: 10px 10px 10px 10px;
    text-decoration: none;
    color: white;
}
.icon{
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }